.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    h1 {
        color: #f0eef5;
        text-align: center;
    }

    p {
        color: #f0eef5;
        text-align: center;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    a {
        color: #f0eef5;
        text-decoration: underline;
    }
}