<div class="container">
    <h1>
        Welcome to the Angular Signals Examples!
    </h1>
    <p>
        This is a collection of examples that demonstrate how to use Angular Signals.
    </p>
    <p>
        To get started, click on one of the examples in the navigation bar.
    </p>
    <p>
        If you have any questions or feedback, please feel free to reach out to me on Twitter at <a
            href="https://twitter.com/manthan_ank">&#64;manthan_ank</a>.
    </p>
    <p>
        Enjoy!
    </p>
</div>